table{
    thead{
        th{
            vertical-align: middle;
        } 
    }
    tbody{
        td{
            vertical-align: middle;
        }
    }
}

th.tablesorter-header{            
    cursor: pointer;
    i{
        float:right;
        font-size: 20px;
    }
} 
th.tablesorter-headerUnSorted{

}
th.tablesorter-headerAsc{
    background: #e3e3d2;
}
.tablesorter-headerDesc{
    background: #e3e3d2;
}